@model IEnumerable<App.Pedidos.Models.WH_ClaseLinea>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!--COMENTARIO CON HTML NATIVO-->
@*COMENTARIO CON RAZOR*@

@Messages.Message("createMessage", "New", "success", "El registro se creó satisfactoriamente")
@Messages.Message("deleteMessage", "Delete", "danger", "El registro se eliminó satisfactoriamente")
@Messages.Message("editMessage", "Edit", "primary", "El registro se editó satisfactoriamente")

<p>
    <a href="#" onclick="appVentas.getModal('@Url.Action("Create")');" data-toggle="modal"
       data-target="#modal-container" class="btn btn-success">
        <span class="fa fa-plus"></span> Crear Categoria
    </a>
</p>

@Html.Partial("_List")

@Modal.GetModal("Mantenimiento de Categoria")

<!--Data Table-->
<script src="~/Content/templates/default/vendor/datatables/jquery.dataTables.js"></script>
<script src="~/Content/templates/default/vendor/datatables/dataTables.bootstrap4.js"></script>


<script src="~/App_JS/appVentas.js" type="text/javascript"></script>
<script src="~/App_JS/categoria.js" type="text/javascript"></script>