@model IEnumerable<App.Pedidos.Models.CO_Clientes>

<div class="table-responsive">
    <table id="clienteTable" class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Nombres
                </th>
                <th>
                    Apellidos
                </th>
                <th>
                    Nro. Documento
                </th>
                <th>
                    Dirección
                </th>
                <th>
                   Distrito
                </th>
                <th>
                    Provincia
                </th>
                <th>
                    Teléfono
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Fec. Creación
                </th>
                <th>
                    Fec. Actualización
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPersona)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Documento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Distrito)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Provincia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaActualizacion)
                    </td>
                    <td>
                        <a href="#" onclick="appPedidos.getModal('@Url.Action("Edit", new { id = item.IdPersona })');" data-toggle="modal"
                           data-target="#modal-container" class="btn btn-warning">
                            <span class="fa fa-edit">Editar</span>
                        </a>
                        <a href="#" onclick="appPedidos.getModal('@Url.Action("Details", new { id = item.IdPersona })');" data-toggle="modal"
                           data-target="#modal-container" class="btn btn-warning">
                            <span class="fa fa-edit">Detalle</span>
                        </a>
                        <a href="#" onclick="appPedidos.getModal('@Url.Action("Delete", new { id = item.IdPersona })');" data-toggle="modal"
                           data-target="#modal-container" class="btn btn-warning">
                            <span class="fa fa-edit">Eliminar</span>
                        </a>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
