@model IEnumerable<App.Pedidos.Models.WH_ItemMast>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Linea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Familia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubFamilia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionLocal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnidadCodigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Linea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Familia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubFamilia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionLocal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnidadCodigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Item }) |
            @Html.ActionLink("Details", "Details", new { id=item.Item }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Item })
        </td>
    </tr>
}

</table>
