@model App.UI.WebMVC.Models.UserViewModel

@{
    ViewBag.Title = "Login2";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!-- Outer Row -->
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                            </div>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Email,
                                                        new { htmlAttributes = new { @class = "form-control form-control-user",
                                                                                     @placeholder = "Enter Email Address..."}})
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                    
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Password, 
                                                        new { htmlAttributes = new { @class = "form-control form-control-user",
                                                                                     @placeholder = "Password"}})
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">
                                                Remember
                                                Me
                                            </label>
                                        </div>
                                    </div>
                                    <input type="submit" value="Iniciar Sesion" class="btn btn-primary btn-user btn-block" />

                                    <hr>
                                    <a href="index.html" class="btn btn-google btn-user btn-block">
                                        <i class="fab fa-google fa-fw"></i> Login with Google
                                    </a>
                                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                        <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                    </a>
                                </div>
                            }

                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Olvido su Clave?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/Usuario/Create">Crear nueva cuenta!</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/Home/Index">Volver al principal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
